@media screen and (min-width: 992px) {
	.section {
		padding-left: 270px;
	}

	.nav {
		width: 270px;
	}

	.about {
		&__info {
			flex: 0 0 50%;
			max-width: 50%;
			padding-top: 15px;

			&-item {
				margin-bottom: 0;

				span {
					flex-basis: 80%;
				}
			}
		}

		&__skills {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}
