@media screen and (min-width: 768px) {
	.section {
		padding-left: 240px;
	}

	.hamburger {
		display: none;
	}

	.wrapper {
		padding: 0 20px;
	}

	.nav {
		transform: translateX(0);
		opacity: 1;
		width: 240px;
	}

	.home {
		padding-top: 80px;

		&__info {
			max-width: 60%;

			&__header {
				margin-top: 10px;
			}
		}
	}

	.row {
		flex-direction: row;
		align-items: stretch;
	}
}
