@media screen and (min-width: 576px) {
	.home {
		&__info {
			&__header {
				font-size: s.$xl;
			}

			&__subheader {
				font-size: s.$xl;
			}

			&__text {
				font-size: s.$m;
			}
		}
	}

	.about {
		&__info {
			&-item {
				padding: 10px;
				margin-bottom: 0;
				flex: 0 0 50%;
				max-width: 50%;

				i {
					flex-basis: 15%;
				}
			}
		}

		&__skills {
			&-item {
				padding: 10px;
				margin-bottom: 0;
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}

	.edu_exp {
		.row {
			flex-direction: row;
		}

		&__edu {
			flex: 1 1 calc(50% - 20px);
			margin-right: 20px;
		}

		&__exp {
			flex: 1 1 calc(50% - 20px);
			margin-left: 20px;
		}
	}

	.contact {
		&__row {
			flex-direction: row;
		}

		&__form {
			.col-6 {
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}
}
