@use "colors" as c;
@use "sizes" as s;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bg-light: #f6f6f6;
	--bg-light-grey: #eaeaea;
	--text-grey: #393e46;
	--bg-grey: #c5c7cb;
	--shadow: rgba(48, 46, 77, 0.2);
}

body.dark {
	--bg-light: #393e46;
	--bg-light-grey: #222831;
	--text-grey: #eeeeee;
	--bg-grey: #52616b;
	--shadow: rgba(238, 238, 238, 0.2);
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	line-height: 1.5;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: var(--bg-light);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.hamburger {
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 11;
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: auto;
}

.section {
	padding: 15px;
	margin-top: 20px;
}

.section-title {
	color: var(--text-grey);
	font-size: s.$l;
	margin: 30px 0;
	position: relative;
	display: block;
}

.section-title::before,
.section-title::after {
	content: "";
	height: 2px;
	background-color: var(--skin-color);
	position: absolute;
	top: 100%;
	left: 0;
}

.section-title::before {
	width: 50px;
}

.section-title::after {
	width: 25px;
	margin-top: 8px;
}

.section-text {
	color: var(--text-grey);
	font-size: s.$s;
}

section.hidden {
	display: none;
}

.row {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 40px;
	position: relative;
}

.btn {
	font-size: s.$s;
	font-weight: normal;
	padding: 15px 30px;
	color: #fff;
	background-color: var(--skin-color);
	border-radius: 20px;
	border: none;
	display: inline-block;
	transition: transform 0.3s;
	cursor: pointer;

	&:hover {
		transform: scale(1.1);
	}
}

// NAVBAR
.nav {
	background-color: var(--bg-light-grey);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border-right: 2px solid var(--bg-grey);
	align-items: center;
	height: 100vh;
	width: 100vw;
	padding: 30px;
	top: 0;
	position: fixed;
	opacity: 0;
	transform: translateX(-200%);
	transition: transform 0.5s, opacity 0.5s;
	z-index: 10;

	&__logo {
		position: relative;
		padding: 1rem 2rem;
		font-size: 30px;
		color: var(--text-grey);

		&::before,
		&::after {
			position: absolute;
			content: "";
			width: 20px;
			height: 20px;
			transition: transform 0.5s, width 0.5s, height 0.5s, scale 0.5s;
		}

		&::before {
			top: 0;
			left: 0;
			border-top: 3px solid var(--skin-color);
			border-left: 3px solid var(--skin-color);
		}

		&::after {
			bottom: 0;
			right: 0;
			border-bottom: 3px solid var(--skin-color);
			border-right: 3px solid var(--skin-color);
		}

		&:hover::before,
		&:hover::after {
			width: 40px;
			height: 40px;
		}

		&:hover::before {
			transform: translate(-20px, -20px);
		}

		&:hover::after {
			transform: translate(20px, 20px);
		}
	}

	&__links {
		margin: 2rem;
		flex-basis: 50%;

		li {
			padding: 20px 0;
			border-bottom: 1px solid var(--bg-grey);
		}

		li:last-child {
			border: none;
		}

		&-link {
			color: var(--text-grey);
			padding: 20px;
			font-size: s.$m;
		}

		&-link.active {
			color: var(--skin-color);
		}
	}
}

.nav.show-nav {
	transform: translateX(0);
	opacity: 1;
}

// HOME
.home {
	display: flex;
	min-height: 100%;
	opacity: 1;

	.row {
		align-items: center;
	}

	&__info {
		color: var(--text-grey);
		flex: 0 0 60%;
		max-height: 60%;

		&__header {
			// font
			font-size: s.$l;
			margin: 30px 0 15px;

			&-name {
				// font
				font-size: s.$xxl;
				font-weight: 700;
				color: var(--skin-color);
			}
		}

		&__subheader {
			font-size: s.$l;
			margin: 15px 0;

			&-profession {
				color: var(--skin-color);
				font-size: s.$xl;
			}
		}

		&__text {
			margin-bottom: 50px;
		}
	}

	&__image {
		padding: 20px;
		flex: 0 0 35%;
		max-width: 400px;
		height: 200px;
		position: relative;
		margin: 20px 10px;

		img {
			object-fit: cover;
			height: 100%;
			max-width: 100%;
			display: block;
			margin: auto;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			height: 60px;
			width: 60px;
		}

		&::before {
			left: 0;
			top: 0;
			border-top: 5px solid var(--skin-color);
			border-left: 5px solid var(--skin-color);
		}

		&::after {
			right: 0;
			bottom: 0;
			border-right: 5px solid var(--skin-color);
			border-bottom: 5px solid var(--skin-color);
		}
	}
}

// ABOUT
.about {
	&__subtitle {
		color: var(--text-grey);
		font-size: s.$m;
		margin-bottom: 15px;
	}

	&__name {
		color: var(--skin-color);
	}

	&__info {
		max-width: 100%;
		margin-top: 40px;

		&-box {
			display: flex;
			flex-wrap: wrap;
			flex: 0 0 100%;
		}

		&-item {
			display: flex;
			flex-direction: row;
			font-size: s.$s;
			flex: 0 0 100%;
			margin-bottom: 10px;

			i {
				flex-basis: 10%;
				font-size: s.$m;
				color: var(--skin-color);
			}

			span {
				flex-basis: 65%;
				color: var(--text-grey);
				font-size: s.$s;
			}
		}
	}

	&__skills {
		display: flex;
		flex-wrap: wrap;
		flex: 0 0 100%;
		max-width: 100%;
		margin-top: 40px;

		&-item {
			display: flex;
			flex-direction: column;
			font-size: s.$s;
			flex: 0 0 100%;
			margin-bottom: 15px;

			h5 {
				margin-bottom: 4px;
				font-size: s.$s;
				color: var(--text-grey);
			}

			.progress {
				position: relative;
				background-color: var(--bg-light-grey);
				height: 7px;
				border-radius: 8px;
				width: 100%;

				.progress-in {
					position: absolute;
					top: 0;
					left: 0;
					width: 0;
					height: 100%;
					border-radius: 8px;
					background-color: var(--skin-color);
				}

				.progress-percent {
					position: absolute;
					right: 0;
					top: -25px;
					color: var(--text-grey);
				}
			}
		}
	}

	&__buttons {
		display: flex;
		margin-top: 40px;
		flex: 0 0 100%;
		justify-content: center;
	}
}

// EDUCATION AND EXPERIENCE
.edu_exp {
	&__text {
		flex: 0 0 100%;
	}

	&__edu,
	&__exp {
		flex: 0 0 100%;
		margin-top: 40px;

		&__box {
			background-color: var(--bg-light-grey);
			border: 1px solid var(--bg-grey);
			border-radius: 8px;
			box-shadow: 0 0 20px var(--shadow);
			padding: 30px 15px;

			&-item {
				position: relative;
				padding: 0 0 30px 15px;

				&-dot {
					position: absolute;
					top: 7px;
					left: -5px;
					width: 11px;
					height: 11px;
					border-radius: 50%;
					background-color: var(--skin-color);
				}

				&-date,
				&-title,
				&-text {
					color: var(--text-grey);
				}

				&-date {
					font-weight: 800;
					margin-bottom: 5px;
					font-size: s.$m;
				}

				&-title {
					position: relative;
					font-weight: 600;
					font-size: s.$s;
				}

				&-text {
					font-weight: 300;
					font-size: s.$s;
				}
			}

			&-item:last-child {
				padding-bottom: 0;
			}

			&-item::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 1px;
				height: 100%;
				background-color: var(--skin-color);
			}
		}
	}

	&__exp {
		&__box {
			&-item {
				&-title::before {
					content: "";
					position: absolute;
					border-radius: 50%;
					top: 6px;
					left: -18px;
					width: 7px;
					height: 7px;
					background-color: var(--skin-color);
				}
			}
		}
	}

	&__buttons {
		display: flex;
		margin-top: 40px;
		flex: 0 0 100%;
		justify-content: center;
	}
}

// PORTOLIO
// .portfolio {
// }

// CONTACT
.section.contact {
	margin-top: 0;
}

.contact {
	&__row {
		justify-content: space-around;
		align-items: center;
	}

	&__info {
		&-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-bottom: 30px;

			&-icon {
				font-size: s.$xl;
				color: var(--skin-color);
			}

			&-heading {
				font-size: s.$m;
				padding: 10px 0;
				color: var(--text-grey);
			}

			&-text {
				font-size: s.$m;
				color: var(--text-grey);
			}
		}
	}

	&__form {
		flex: 0 0 100%;
		max-width: 100%;

		&-group {
			display: flex;
			flex-wrap: wrap;
		}

		&-item {
			padding: 0 10px;
			margin-bottom: 20px;

			input,
			textarea {
				padding: 10px 20px;
				width: 100%;
				height: 30px;
				border-radius: 10px;
				color: var(--text-grey);
				background-color: var(--bg-light-grey);
				border: 1px solid var(--bg-grey);
			}

			input:focus,
			textarea:focus {
				box-shadow: 0 0 20px var(--shadow);
				outline: none;
			}

			textarea {
				min-height: 100px;
				max-height: 100px;
				min-width: 100%;
				max-width: 100%;
				resize: none;
			}
		}

		.col-6 {
			flex: 0 0 100%;
			max-width: 100%;
		}

		.col-12 {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}

// STYLE SELECTOR
.style-selector {
	position: fixed;
	top: 30px;
	right: 0px;
	padding: 10px;
	width: 200px;
	border: 1px solid var(--bg-grey);
	border-radius: 8px;
	background-color: var(--bg-light-grey);
	z-index: 9;
	transform: translateX(100%);
	transition: transform 0.4s;

	&__color-button,
	&__theme-button {
		position: absolute;
		right: 100%;
		margin-right: 10px;
		padding: 5px;
		font-size: 20px;
		text-align: center;
		color: var(--text-grey);
		cursor: pointer;
	}

	&__color-button {
		top: 0;
	}

	&__theme-button {
		top: 40px;
		padding-right: 4px;
	}

	&__heading {
		font-size: s.$s;
		margin-bottom: 5px;
		color: var(--text-grey);
	}

	&__colors {
		display: flex;
		justify-content: space-between;

		.color1 {
			background-color: c.$skin1;
		}

		.color2 {
			background-color: c.$skin2;
		}

		.color3 {
			background-color: c.$skin3;
		}

		.color4 {
			background-color: c.$skin4;
		}

		.color5 {
			background-color: c.$skin5;
		}
	}

	&__color {
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 1px solid var(--bg-light-grey);
		cursor: pointer;
	}
}

.style-selector.open {
	transform: translateX(-20px);
}

@import "./small";
@import "./medium";
@import "./large";
@import "./xlarge";
